header {
    background-color: #969696;
}

body {
    padding-left: 200px;
    padding-right: 190px;
    min-width: 240px;
}

header, footer {
    margin-left: -200px;
    margin-right: -190px;
}

main {
    width: 100%;
    min-height: 517px;
}

li {
    height: 60px;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
}

footer {
    clear: both;
}

button:hover {
    cursor: pointer;
}

.cart-input {
    width:50px;
}